**/__pycache__/
.env
outputs/**
settings/**
logs/**
!outputs/.gitkeep
src/ml_scam_classification/data/**
build_image_docker_scams.sh
Dockerfile

# Ignore everything in data folder
src/ml_scam_classification/data/**

# Unignore the subfolders of the data folder so Git looks inside
!src/ml_scam_classification/data/**/

# Unignore any "info.txt" files anywhere inside myfolder
!src/ml_scam_classification/data/**/info.txt

# Ignore project structure folder, used to cat all files and file structure
project_structure

# Ignore these for now
pyproject.toml

# No need to share this
TODO.txt

# not sure what this was, need to figure out
temp_test.py

# no need to share tests for now
tests/**